
*{
    box-sizing: border-box;
}

html{
scroll-behavior: smooth;

}


body{

    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

}

header{

background-image: url('img/imagen_2.jpeg');
background-size: cover; 
background-repeat: no-repeat; 
background-position: center -200px;
width:100%;
height: 500px;
position:relative;
border-radius:10px;


}

/* 
background-image: url('img/imagen_principal.jpg');
background-size: contain; 
background-repeat: no-repeat; 
background-position: center; */


nav {
    position:absolute;
    width:450px;
    height: 10%;
    margin:20px;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(122, 0, 0, 0.842);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);




}

h1 {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0px 20px 0px 0px;
    padding: 0;
}

li {
    cursor: pointer;
}


.Opciones a{
text-decoration:none;
color:whitesmoke;

}

.Opciones a:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    
    }



/* Main ----- Llave 1 */

.llave1{

display:flex;
text-align: justify;
margin-top: 50px;
}


.llave1 figure{

width: 40%;

}

.llave1 figure img{

    width:100%;
object-fit: cover;
border-radius: 10px;

}

.carta1{

background-color: grey;
display: flex;
flex-direction: column;
justify-content: center;
border-radius: 10px;

}


/* Main ----- Llave 2 */

.llave2{
    display:flex;
    flex-direction: row-reverse;
    text-align: justify;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.llave2 figure{

    width: 40%;
   margin:0;
   padding:0;
}
    
.llave2 figure img{
    
    width:100%;
    object-fit: cover;
    border-radius: 10px;
}


.carta2{

    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    
}

/* Main ----- Llave 3 */

.llave3{
    display:flex;
    flex-direction: row-reverse;
    text-align: justify;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.llave3 figure{

    width: 40%;
   margin:0;
   padding:0;
}
    
.llave3 figure img{
    
    width:100%;
    object-fit: cover;
    border-radius: 10px;
}

.carta3{

    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    
    }

/* Main ----- Llave 2 */

.llave4{
    display:flex;
    flex-direction: row-reverse;
    text-align: justify;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.llave4 figure{

    width: 40%;
   margin:0;
   padding:0;
}
    
.llave4 figure img{
    
    width:100%;
    object-fit: cover;
    border-radius: 10px;
}


.carta4{

    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    
    }
/* footer de la pagina */


footer {
    background-color: rgba(122, 0, 0, 0.842);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
}

.contactos {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.contactos li {
    display: inline;
}

.contactos a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.contactos a:hover {
    color: #ffcc00; 
}
