*{
    box-sizing: border-box;
}

body{
margin:0;
padding:0;
background-color: #f1f1f1;
}


/* Encabezado de la pagina */


.encabezado{
width:100%;
background-color: #a5b3b5;
font-family: "Lilita One", serif;
font-style: normal;
position: sticky;
top:0;

}


.navegador{
width:100%;
display:flex;
justify-content: space-around;
z-index:500;
}





.titulo-h2{

font-size: x-large ;

}


.lista{

list-style: none;
transition: transform 0.5s ease;

}


.lista:hover{
    transform: translatey(-3px)
    
}


.lista a{
color:whitesmoke;
text-decoration:none;
transition:color 0.5s ease, box-shadow 0.3s ease;
}

.lista a:hover{

    color: rgb(26, 51, 80);
}




.contenedor-menu{
    display:flex;
    align-items: center;

}

.menu{

display:flex;
gap:20px;
align-items: center;
}


/* Menu desplegable */


#btn-abrir{
display:none;
font-size: xx-large; 
border:0;
background-color: transparent;
 position:absolute;
left: 80%;
top:22px; 
z-index:200;


}


#btn-cerrar{
display:none;
border:0;
background-color: transparent;
}


/* Contenido responsive del encabezado */


@media(max-width:800px){

.contenedor-menu{

display:none;

}

.navegador{
    
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index:1000;
}

.contenedor-titulo{

    padding: 10px;
    transform: translatex(10%);
}



#btn-abrir{

display:block;
z-index:1200;

}


.contenedor-menu.visible{
display: block;
}


.contenedor-menu{
 position:absolute;
top:70px;
left:0;
margin-top: 0px;
width: 100%;



}



#Menu{

    flex-direction: column;
    column-gap: 20px;
    background-color: #a5b3b5;

}


#btn-cerrar{
    display:block;
}

#btn-cerrar{

color: white;
font-size: xx-large;
margin-bottom:10px;

}




}










/* Contenido de la pagina  */




.contenedor-principal{
    font-family: "Lilita One", serif;
    font-style: normal;



}

.contenedor-img-1{

margin:0;

}


.imagen-Jesus{

width:100%;
height:500px;
object-fit: cover;


}



/* Relleno */

.relleno{

    width: 100%;
    height: 400px;
    background-color: #f1f1f1;

}




/* Secciones - 4llaves */



.seccion{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.background-fixed {
background-image: url('https://images.pexels.com/photos/28157099/pexels-photo-28157099/free-photo-of-hombre-gente-oscuro-evento.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); /* URL de tu imagen */
background-size: cover;
background-attachment: fixed; 
background-position: center;


}


/* Contenido de la pagina */


.contenido-titulo-frase{
width: 100%;
height: 150px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;


}

.contenido-hijo-frase h2{
  color:#62696b;
    
    
    }



.contenedor-llave-principal1{

    width: 100%;
    
}

.contenedor-llave-hijo1{
    width:100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 217, 227);
    box-shadow: 03px 3px 9px rgba(26, 51, 80, 0.502);
    align-items: center;

}


.titulo-llave1{

    color:rgb(226, 193, 5);
    text-align: center;
}

.contenido{

width: 100%;
display: flex;
flex-direction: column;
align-items: center;

}

.contenido .parrafo-llave1{
    color:#333333;

}





.parrafo-llave1{

width:50%;

}


 #camisa{

width:50%;
border-radius: 5px;
object-fit: cover;

 }




@media(max-width:500px){

.parrafo-llave1{

width:90%;


}




}


/* Oracion de Fé */

.oracion{
    width: 80%;
    height: 400px;
    margin:0  auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;


}


.oracion-fe{
text-align: justify;


}



 /* Footer - pie de pagina */


.footer{

width:100%;
background-color: #a5b3b5;
display: flex;
justify-content: space-around;
color:#333333;
}


.contenedor-footer-2{

    display: flex;



}

.sub-contenedor-22{

margin-left:20px;

}

